<div class="container">

    <hr>
    <h2><strong>Welcome, {{user}}</strong></h2>
    <a href="/me">Profile</a>
    <hr>

    <div class="grid">
      <div>
        <h2><strong>Total Pages: {{productsPaginate.totalPages}}</strong></h2>
      </div>
      <div>
        <h2><strong>Now: {{productsPaginate.page}}</strong></h2>
      </div>
      <div>
        <a href="{{productsPaginate.prevPage}}"  {{#unless productsPaginate.hasPrevPage}} disabled {{/unless}}  role="button" >Prev </a>
        <a href="{{productsPaginate.nextPage}}" {{#unless productsPaginate.hasNextPage}} disabled {{/unless}}   role="button" >Next </a>
      </div>
    </div>

    

  {{#each productsPaginate.payload.list}}

  <details>
    <summary role="button" class="contrast">{{this.title}} - Price: ${{this.price}}</summary>
    <article>
      <p><strong>Category: </strong>{{this.category}}</p>
      <p><strong>Description: </strong>{{this.description}}</p>
      <p><strong>Stock: </strong>{{this.stock}}</p>
      <p><strong>Price: </strong>{{this.price}}</p>
      <button  onclick="addToCart('{{../cart}}','{{this._id}}')"> Add to cart </button> 

    </article>
  </details>

  {{/each}}


</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="js/products.js"></script>
